# XAMPP
.idea/
.vscode/
*.log
*.tmp
*.sqlite
*.db

# PHP
*.log
*.cache
*.ini
.env
.vscode

# Dossiers
/vendor/
/node_modules/
/uploads/
/tmp/

# Fichiers sensibles
config.php
*.pem
*.key
*.crt
*.env

# OS
.DS_Store
Thumbs.db
desktop.ini
